@{
    ViewData["Title"] = "Adauga Competitie";

}

@model CompetitionViewModel

<form id="myForm" asp-action="Add" method="post" class="needs-validation" novalidate>
    <div class="form-group">
        <label asp-for="Name">Schimba Numele</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

        <label asp-for="NumberOfTeams">Numar de Echipe :</label>
        <input asp-for="NumberOfTeams" class="form-control" />
        <span asp-validation-for="NumberOfTeams" class="text-danger"></span>

        <label asp-for="Adress">Locatia Competitiei</label>
        <input asp-for="Adress" class="form-control" />
        <span asp-validation-for="Adress" class="text-danger"></span>

        <label asp-for="StartDate">Data de start: </label>
        <input asp-for="StartDate" type="date" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>

        <label asp-for="EndDate">Data de terminare (optional)</label>
        <input asp-for="EndDate" type="date" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>

        <div class="form-group">
            <label asp-for="SponsorId" class="control-label">Sponsor</label>
            @Html.DropDownList("SponsorId", (IEnumerable<SelectListItem>)ViewData["Sponsors"], "Selecteaza sponsor", new { @class = "form-control" })
            <span asp-validation-for="SponsorId" class="text-danger"></span>
            @ViewData["Error"]
        </div>
        <div class="form-group border border-2 rounded-3 p-2 m-2">
            <h5><label asp-for="SelectedTeamIds" class="control-label">Echipe</label></h5>
            @{
                @foreach (var team in Model.Teams)
                {
                    <div class="m-3">
                        <input type="checkbox" id="team@team.Value" name="SelectedTeamIds" value="@team.Id" @(Model.SelectedTeamIds != null && Model.SelectedTeamIds.Contains(Convert.ToInt32(team.Id)) ? "checked" : "")>
                        <label for="team@team.Value">@team.Name</label>
                    </div>
                }
            }
        </div>
        <!-- Additional form fields and submit button -->

        <button type="submit" class="btn btn-primary">Creeaza</button>
        <a href="index" class="btn btn-primary"> Renunta</a>

</form>
