@{
    ViewData["Title"] = "Adauga Antrenor";
}

@model TeamViewModel

<form id="myForm" asp-action="Add" method="post" class="needs-validation" novalidate>
    <div class="form-group">
        <label asp-for="Name">Nume</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

        <label asp-for="NickName">Porecla</label>
        <input asp-for="NickName" class="form-control" />
        <span asp-validation-for="NickName" class="text-danger"></span>

        <div class="form-group">
            <label asp-for="CoachId" class="control-label">Antrenor</label>
            @Html.DropDownList("CoachId", (IEnumerable<SelectListItem>)ViewData["Coaches"], "Selecteaza antrenor", new { @class = "form-control" })
            <span asp-validation-for="CoachId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="form-group border border-2 rounded-3 p-2 m-2">
                <h5><label asp-for="SelectedPlayerIds" class="control-label">Jucatori</label></h5>
                @foreach (var player in Model.Players)
                {
                    <div class="m-3">
                        <input type="checkbox" id="player@player.Value" name="SelectedPlayerIds" value="@player.Id" @(Model.SelectedPlayerIds != null && Model.SelectedPlayerIds.Contains(Convert.ToInt32(player.Id)) ? "checked" : "")>
                        <label for="player@player.FullName">@player.FullName</label>
                    </div>
                }
                <span asp-validation-for="SelectedPlayerIds" class="text-danger"></span>
            </div>
            <div class="form-group border border-2 rounded-3 p-2 m-2">
                <h5><label asp-for="SelectedSponsorIds" class="control-label">Sponsori</label></h5>
                @foreach (var teamSposnsor in ViewBag.Sponsors)
                {
                    <div class="m-3">
                        <input type="checkbox" id="teamSponsor@teamSponsor.Value" name="SelectedSponsorIds" value="@teamSposnsor.Id" @(Model.SelectedSponsorIds != null && Model.SelectedSponsorIds.Contains(Convert.ToInt32(teamSposnsor.Id)) ? "checked" : "")>
                        <label for="teamSponosor@teamSponsor.Name">@teamSposnsor.Name</label>
                    </div>
                }
                <span asp-validation-for="SelectedSponsorIds" class="text-danger"></span>
            </div>
        </div>
        <!-- Additional form fields and submit button -->

        <button type="submit" class="btn btn-primary">Creeaza</button>
        <a href="index" class="btn btn-primary">Renunta</a>
</form>